html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

/* COLORS */
/* FONTS */
/* TEXTS */
/* BACKGROUNDS */
/* GRADIENTS */
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif; }

/* TITLES */
/* BUTTONS */
.titulos, .titulos--ppal-rojo {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #555555; }
  .titulos--ppal, .titulos--ppal-rojo {
    text-align: center;
    margin-bottom: 9px; }
    .titulos--ppal-rojo {
      color: #FE413F; }
  .titulos__elegirnos {
    text-align: center;
    margin-bottom: 9px;
    width: 252px; }
    .titulos__elegirnos--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px; }
    .titulos__elegirnos--p {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      width: 256px;
      text-align: center;
      margin-top: 11px; }
  .titulos--sub, .titulos__empresas--sub {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.15000000596046448px;
    color: rgba(131, 131, 131, 0.8);
    text-align: center; }
  .titulos--p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgba(131, 131, 131, 0.9);
    text-align: center;
    padding: 20px;
    margin-top: 11px; }
  .titulos--contacto {
    margin: 0 0 15px 0; }
    .titulos--contacto-p {
      width: 252px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      text-align: center;
      margin-bottom: 46px; }
  .titulos__empresas--icono {
    margin: 0 0 24px; }
  .titulos__empresas--sub {
    margin: 46px 0; }

.comercios {
  padding: 0 5px 0 5px;
  margin-bottom: 55px; }
  .comercios--p {
    color: #555;
    padding: 0 20px 0px 20px;
    margin-top: 0; }

@media screen and (min-width: 768px) {
  .titulos, .titulos--ppal-rojo {
    font-family: "Nunito", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .titulos--ppal, .titulos--ppal-rojo {
      margin-bottom: 51px; }
    .titulos__elegirnos {
      font-family: "Nunito", sans-serif;
      font-size: 44px;
      font-style: normal;
      font-weight: 600;
      line-height: 52px;
      letter-spacing: 0px;
      width: auto;
      margin-bottom: 40px; }
      .titulos__elegirnos--p {
        width: 630px; }
    .titulos--REB {
      margin-bottom: 25px; }
    .titulos--sub, .titulos__empresas--sub {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0px;
      color: #555555; }
    .titulos--p {
      height: 129px;
      width: 630px;
      padding: 0; }
    .titulos--contacto {
      margin-bottom: 46px; }
      .titulos--contacto-p {
        width: 440px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: rgba(131, 131, 131, 0.9);
        text-align: center;
        margin-bottom: 46px; }
  .comercios {
    margin-bottom: 14px; }
    .comercios--p {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0px;
      color: #555555;
      height: auto;
      width: 100%;
      margin-bottom: 34px; } }

@media screen and (min-width: 1200px) {
  .titulos__elegirnos--p {
    width: 930px; } }

.btn-rojo {
  background-color: #FE413F;
  color: #fff;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-size: 14px; }
  .btn-rojo--large {
    width: 250px; }
  .btn-rojo--suscription {
    height: 54px;
    width: 154px;
    border-radius: 40px; }

.btn-blanco {
  background-color: white;
  border: 2px solid #FE413F;
  color: rgba(131, 131, 131, 0.9);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-size: 14px; }

.btn-blanco-large {
  background-color: white;
  border: 2px solid #FE413F;
  color: rgba(131, 131, 131, 0.9);
  height: 48px;
  width: 336px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.btn-blanco-large-tablet {
  background-color: white;
  border: 2px solid #FE413F;
  color: rgba(131, 131, 131, 0.9);
  height: 38px;
  width: 266px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .btn-rojo--large {
    width: 158px; }
  .btn-rojo--suscription {
    height: 46.04210662841797px;
    width: 131.30526733398438px; }
  .button-formulario-contacto {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 18px 20px 25px;
  margin-bottom: 22px;
  width: 290px;
  height: 156px;
  box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
  border-radius: 20px; }
  .card__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 42px;
    margin-bottom: 15px; }
  .card__titulo {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #555555; }
    .card__titulo--min {
      letter-spacing: -0.6px; }
  .card__body {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(131, 131, 131, 0.9); }
    .card__body--comercios {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9); }
  .card__imagen {
    margin: 0 15px 0 0; }
    .card__imagen--img {
      width: 42px; }
  .card__beneficios {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #555555;
    text-align: center; }
  .card__comercios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 243px;
    width: 254px;
    border-radius: 20px;
    padding: 25px 30px 20px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
    opacity: 100%; }
    .card__comercios__img {
      opacity: 50%; }
    .card__comercios__titulo {
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.20000000298023224px;
      color: #555;
      margin-top: 26.67px;
      height: 48px;
      width: 210px; }
    .card__comercios__body {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      margin-top: 20px;
      width: 210px;
      height: 45px; }

.center {
  display: none; }

@media screen and (min-width: 768px) {
  .card__comercios {
    margin: 10px; }
    .card__comercios:hover .card__comercios__img {
      opacity: 100%; }
  .card-contenedor {
    display: none; }
  .center {
    display: block; }
  .item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    padding: 30px 17px 24px 19px;
    margin: 20px 30px;
    box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
    border-radius: 20px;
    width: 350px;
    height: 160px; }
    .item-containers {
      opacity: 50%; }
    .item__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
    .item__titulo {
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.20000000298023224px;
      color: #555;
      margin-bottom: 15px; }
      .item__titulo--min {
        letter-spacing: -0.6px; }
    .item__body {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      width: 231px;
      height: 67px; }
    .item__imagen--img {
      width: 55px;
      margin-right: 20px; }
    .item__buttom {
      margin-top: 60px;
      color: #FE413F; }
  .slick-center {
    opacity: 100%; } }

.active {
  opacity: 1; }

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .tabs__container {
    width: 269px;
    height: 52px;
    color: #555;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px -6px rgba(85, 85, 85, 0.1), 0px 8px 24px -4px rgba(85, 85, 85, 0.05);
    border-radius: 50px;
    margin: 11px 0 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .tabs__item {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    cursor: pointer; }
  .tabs__item--border {
    width: 130px;
    height: 44px;
    color: #fff;
    background: linear-gradient(220.55deg, #FFE66C -67.63%, #FE413F 101.49%), #FE413F;
    box-shadow: inset 0px -1px 0px #EAEAEA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .tabs__item img {
    display: none; }

#tab-1-content,
#tab-2-content {
  display: none;
  opacity: 0; }

.show {
  display: flex !important;
  opacity: 1 !important;
  transition: all 1000 ease-in; }

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px; }
  .tab__img {
    text-align: center; }
  .tab__content {
    margin: 19px 0; }
    .tab__content--sub {
      margin-bottom: 19px; }
    .tab__content__titulo {
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.15000000596046448px;
      color: #FE413F;
      margin-bottom: 19px;
      text-align: center; }
    .tab__content__txt {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      color: #555;
      text-align: center; }
    .tab__content__items {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.25px;
      color: rgba(131, 131, 131, 0.9);
      margin-bottom: 20px; }
      .tab__content__items--p {
        margin-left: 12px; }
  .tab__btn__container {
    margin-bottom: 19px;
    text-align: center; }
    .tab__btn__container--ancla {
      width: 100%; }

.fa-check-circle {
  font-size: 20px;
  margin-top: 5px; }

.tab-1-content-grid,
.tab-2-content-grid {
  width: 292px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 8px 22px -6px rgba(85, 85, 85, 0.12), 0px 14px 64px -4px rgba(85, 85, 85, 0.12);
  border-radius: 20px; }

@media screen and (min-width: 768px) {
  .tabs__container {
    height: 80px;
    width: 537px; }
  .tabs__item {
    font-family: "Nunito", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .tabs__item--border {
    height: 73px;
    width: 264px;
    color: #fff; }
  .tabs__item p {
    margin-left: 10px; }
  .tabs__item--border p {
    margin-left: 0;
    margin-right: 10px; }
  .tabs__item img {
    display: inline-block; }
  .tab {
    padding: 61px 30px 39px 45px; }
    .tab__img {
      display: none; }
    .tab__content {
      margin: 19px 0; }
      .tab__content--sub {
        font-family: "Poppins", sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        color: #555;
        margin-bottom: 25px; }
      .tab__content__titulo {
        font-family: "Nunito", sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.25px;
        color: #555555;
        color: #FE413F;
        margin-bottom: 32px;
        text-align: center; }
      .tab__content__txt {
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0px;
        margin-bottom: 56px;
        width: 606px;
        color: rgba(131, 131, 131, 0.9); }
      .tab__content__items--p {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: rgba(131, 131, 131, 0.9);
        width: 525px; }
      .tab__content--ctx {
        margin-bottom: 32px;
        padding: 0 0 0 14px; }
    .tab__btn {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .tab__btn__container {
        margin: 0 10px; }
  .fa-check-circle {
    font-size: 20px; }
  .tab-1-content-grid,
  .tab-2-content-grid {
    width: 681px; } }

@media screen and (min-width: 1200px) {
  .tab-1-content-grid,
  .tab-2-content-grid {
    width: 100%; }
  .tab {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 1100px;
    padding: 98px 78px 34px 95px; }
    .tab__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0px; }
      .tab__content__txt {
        text-align: left;
        width: auto;
        padding-right: 40px; }
      .tab__content--ctx {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0px; }
      .tab__content__items--p {
        width: auto; }
    .tab__btn {
      transform: translateY(-150%); } }

.fa-check-circle {
  color: #FE413F;
  font-size: 20px; }

.carousel {
  width: 100%;
  height: 100%; }
  .carousel__contenedor {
    position: relative;
    margin: 20px 20px; }
  .carousel__lista {
    display: flex;
    flex-direction: row; }
    .carousel__lista--lg {
      display: none; }
  .carousel__siguiente, .carousel__anterior {
    position: absolute;
    display: block;
    border: none;
    top: calc(50% - 20px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #FE413F; }
    .carousel__siguiente--chevron, .carousel__anterior--chevron {
      font-size: 25px; }
  .carousel__anterior {
    left: -30px; }
  .carousel__siguiente {
    right: -30px; }

@media screen and (min-width: 768px) {
  .carousel__lista {
    display: none; }
    .carousel__lista--lg {
      display: flex;
      flex-flow: row wrap; }
  .carousel__card--lg {
    display: flex;
    flex-flow: row wrap;
    width: 650px; }
  .carousel__siguiente, .carousel__anterior {
    top: calc(100%); }
    .carousel__siguiente--chevron, .carousel__anterior--chevron {
      font-size: 34px; }
  .carousel__anterior {
    right: -75%; }
  .carousel__siguiente {
    right: 5%; }
  .slick-initialized .slick-slide {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 992px) {
  .carousel__contenedor {
    margin: 0; }
  .carousel__card--lg {
    width: 550px; } }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%; }
  .formulario__input {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(131, 131, 131, 0.9);
    height: 48px;
    width: 255px;
    border: none;
    padding: 13px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
    border-radius: 30px;
    margin: 4px 0 12px; }
    .formulario__input__text {
      height: 152px; }

@media screen and (min-width: 768px) {
  .formulario__input {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgba(131, 131, 131, 0.9);
    width: 438px; }
    .formulario__input__text {
      height: 123px; } }

.cliente__imagen {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 30px; }

.cliente__img {
  width: 100%;
  height: 35px;
  object-fit: cover;
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1); }
  .cliente__img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    filter: grayscale(0); }

.header {
  text-align: left;
  width: 100%;
  z-index: 100; }
  .header__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header__logo--img {
      width: 25%;
      margin-top: 10px; }

.hamb {
  position: absolute;
  font-size: 20px;
  left: 2px;
  top: 5.5px;
  border-radius: 0px;
  color: #555;
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer; }

.menu__close {
  color: #777;
  position: absolute;
  right: 20px;
  top: 45px;
  cursor: pointer; }

.menu__list {
  position: fixed;
  width: 100%;
  left: -100%;
  top: 0;
  transition: all 0.5s;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  z-index: 10000; }

.menu__item {
  height: 48px;
  padding-left: 27px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .menu__item__img {
    height: 123px;
    display: flex;
    align-items: center;
    margin-left: 33px; }
    .menu__item__img--logo {
      height: 43px; }
  .menu__item:active {
<<<<<<< HEAD
    background-color: rgba(254, 65, 63, 0.31);
    transition: ease-in 0.1s; }
=======
    background-color: rgba(254, 65, 63, 0.31); }
>>>>>>> d0d16af6e7c5b9a971572bed8f46441216ff4b5f
  .menu__item--btn {
    display: none; }

.menu__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  color: #555555;
  width: 100%; }

.open {
  left: 0; }

.close {
  left: -100%; }

@media screen and (min-width: 992px) {
  .header {
    padding-top: 70px; }
    .header__logo--img {
      height: 82px;
      width: 145px;
      left: 169px;
      top: 69px; }
  .hamb,
  .menu__close {
    display: none; }
  .menu {
    width: 100%; }
    .menu__list {
      position: static;
      left: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .menu__item {
      padding-left: 0px; }
      .menu__item__img {
        display: none; }
      .menu__item:hover {
        background-color: #fff; }
      .menu__item--nosotros {
        display: none; }
      .menu__item--btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px; }
    .menu__link:hover {
      color: #FE413F; } }

@media screen and (min-width: 1200px) {
  .menu__item {
    padding-left: 27px; } }

.banner {
  margin-top: 53px; }
  .banner__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .banner__texto {
    width: 254px;
    height: 293px; }
    .banner__texto__jerarquia {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.15000000596046448px;
      color: rgba(131, 131, 131, 0.8);
      color: #555555;
      text-align: center; }
  .banner__imagen {
    height: 184px;
    width: 294px; }
    .banner__imagen--empresa {
      width: auto;
      height: auto; }
    .banner__imagen__img {
      width: 100%;
      object-fit: cover;
      display: block; }

@media screen and (min-width: 768px) {
  .banner {
    margin-top: 68px; }
    .banner__texto {
      height: auto;
      width: 522px;
      text-align: center; }
      .banner__texto__jerarquia {
        width: 100%;
        font-size: 22px;
        line-height: 34px; }
    .banner__imagen {
      height: 385px;
      width: 616.1778564453125px; } }

@media screen and (min-width: 992px) {
  .banner__cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .banner__texto__jerarquia {
    width: 522px;
    font-size: 26px;
    line-height: 38px;
    text-align: left; }
  .banner__imagen__img {
    height: auto;
    width: 693px;
    position: absolute; } }

.section {
  padding: 55px 0 39.5px 0;
  width: 100%; }
  .section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section__valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22px 0 0 0; }
  .section__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .section__txt__p {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      margin: 8px 0 0 0; }
      .section__txt__p--Strong {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0px;
        color: #555555; }
  .section-planes {
    padding: 55px 0 0; }

.section-card {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), rgba(131, 131, 131, 0.03);
  border-radius: 60px;
  padding: 55px 0 5px;
  margin-bottom: 39.5px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-tabs {
  padding: 0 0 0 0; }

.section-plan {
  padding: 0 0 0 0; }

.section-comercios {
  padding: 57px 0 0 0; }

.section-clientes {
  padding: 27px 0 0 0; }

.section-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#circle {
  display: none; }

@media screen and (min-width: 768px) {
  #circle {
    display: inline-block; }
  .section-card {
    padding: 107px 0 39.5px 0; }
  .section-nosotros {
    padding: 113px 0 39.5px 0; }
  .section-comercios {
    margin-bottom: 90px; }
  .section__canvas {
    position: relative; }
  .section__abs {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    grid-template-areas: "zona1 zona2 zona3" "zona4 zona5 zona6";
    transform: translate(-15px, -305px); }
  .section__valores {
    margin: 6.5px 0 0 0; }
    .section__valores--2 {
      grid-area: zona2; }
    .section__valores--4 {
      grid-area: zona4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: flex-start; }
    .section__valores--6 {
      grid-area: zona6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: flex-start; }
  .section__txt {
    padding: 0 5px; }
    .section__txt__p {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      margin: 8px 0 0 0; }
      .section__txt__p--Strong {
        font-family: "Poppins", sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        color: #555; } }

@media screen and (min-width: 992px) {
  .section__valores--imagen img {
    width: 82px;
    height: 82px; }
  .section__valores--2 {
    transform: translateY(-56%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section__valores--4 {
    transform: translateY(-16%); }
  .section__valores--6 {
    transform: translateY(-15%); } }

@media screen and (min-width: 1200px) {
  .section__valores--imagen img {
    width: 82px;
    height: 82px; }
  .section__valores--2 {
    transform: translateY(-90%); }
  .section__valores--4 {
    transform: translateY(-26%); }
  .section__valores--6 {
    transform: translateY(-25%); } }

.footer {
  width: 100%;
  height: 824px;
  background: #555555;
  padding: 72px 26px 91px 32px;
  margin-top: 3px; }
  .footer__containers--rrss {
    display: flex; }
  .footer__newsletter__suscribir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 58px; }
  .footer__newsletter__titulo {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #555555;
    color: #fff;
    margin-bottom: 19px; }
  .footer__newsletter__texto {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(131, 131, 131, 0.9);
    margin-bottom: 29px; }
  .footer__newsletter__input {
    position: relative;
    margin-bottom: 20px; }
    .footer__newsletter__input--img {
      position: absolute;
      top: 30%;
      left: 10%; }
    .footer__newsletter__input--text {
      width: 253px;
      height: 58px;
      border: none;
      background: #ffffff;
      /* Sombra 1 */
      box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
      border-radius: 40px;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      color: #FE413F;
      text-align: center; }
  .footer__logo__img {
    height: 60px;
    width: 110px; }
  .footer__logo__txt {
    margin-top: 14px; }
    .footer__logo__txt--hashtag {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      color: #fff;
      margin-bottom: 24px; }
  .footer__contacto {
    display: flex;
    margin-bottom: 20px; }
    .footer__contacto__txt {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.4000000059604645px;
      color: #fff;
      margin-left: 12px; }
    .footer__contacto__icons {
      width: 20px;
      height: 20px;
      text-align: center; }
  .footer__rrss {
    background-color: #fff;
    color: rgba(131, 131, 131, 0.9);
    border-radius: 50%;
    height: 26.66667366027832px;
    width: 26.666667938232422px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20.33px 22.67px 0;
    cursor: pointer; }
  .footer__copyright {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4000000059604645px;
    color: #fff; }

.fa-envelope,
.fa-mobile-alt {
  color: #fff;
  font-size: 20px; }

.fa-map-marker-alt {
  color: #fff;
  font-size: 15px;
  margin-right: 6px;
  margin-left: 3px; }

@media screen and (min-width: 768px) {
  .footer {
    padding: 83px 45px 66px 76px;
    height: auto; }
    .footer__newsletter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 86px; }
      .footer__newsletter__suscribir {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        position: relative; }
      .footer__newsletter__titulo {
        font-family: "Poppins", sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        color: #555;
        color: #fff;
        width: 276px; }
      .footer__newsletter__texto {
        width: 293px; }
      .footer__newsletter__input {
        margin-bottom: 0; }
        .footer__newsletter__input--img {
          transform: translateX(-20px); }
        .footer__newsletter__input--text {
          height: 49.45262908935547px;
          width: 324px; }
          .footer__newsletter__input--text::placeholder {
            text-align: center;
            transform: translateX(-50px);
            color: #FE413F; }
      .footer__newsletter__btn {
        position: absolute;
        right: 0;
        margin-right: 2px; }
    .footer__info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .footer__logo__img {
      height: 70px;
      width: 120px; }
    .footer__logo__txt--hashtag {
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.15000000596046448px; }
    .footer__contacto {
      justify-content: space-between;
      align-items: center; }
      .footer__contacto__txt {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.25px;
        color: rgba(131, 131, 131, 0.9);
        color: #fff;
        height: auto;
        width: 240px; }
    .footer__rrss {
      margin: 0 32px 22.67px 0; }
    .footer__containers--address {
      margin-right: 40px;
      transform: translateY(30%); }
    .footer__copyright {
      font-size: 13px; }
  ::-webkit-input-placeholder {
    text-align: left; } }
