html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLORS */
/* FONTS */
/* TEXTS */
/* BACKGROUNDS */
/* GRADIENTS */
body {
  font-size: 18px;
  font-family: "Poppins", sans-serif; }

/* TITLES */
/* BUTTONS */
.titulos {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #555555; }
  .titulos--ppal {
    text-align: center;
    margin-bottom: 9px; }
  .titulos--sub {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.15000000596046448px;
    color: rgba(131, 131, 131, 0.8);
    text-align: center; }
  .titulos--p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgba(131, 131, 131, 0.9);
    text-align: center;
    padding: 20px;
    margin-top: 11px; }

.btn-rojo {
  background-color: #FE413F;
  color: #fff;
  border: none;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px; }

.btn-blanco {
  background-color: white;
  border: 2px solid #FE413F;
  color: #FE413F;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px; }

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 18px 20px 25px;
  margin-bottom: 22px;
  width: 290px;
  height: 156px;
  box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12), 0px 8px 20px -4px rgba(85, 85, 85, 0.08);
  border-radius: 20px; }
  .card__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 42px;
    margin-bottom: 15px; }
  .card__titulo {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #555555; }
    .card__titulo--min {
      letter-spacing: -0.6px; }
  .card__body {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(131, 131, 131, 0.9); }
  .card__imagen {
    margin: 0 15px 0 0; }
    .card__imagen--img {
      width: 42px; }
  .card__beneficios {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #555555;
    text-align: center; }

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .tabs__container {
    width: 269px;
    height: 52px;
    color: #555;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px -6px rgba(85, 85, 85, 0.1), 0px 8px 24px -4px rgba(85, 85, 85, 0.05);
    border-radius: 50px;
    margin: 11px 0 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .tabs__item {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.15000000596046448px;
    cursor: pointer; }
  .tabs__item--border {
    width: 130px;
    height: 44px;
    color: #fff;
    background: linear-gradient(220.55deg, #FFE66C -67.63%, #FE413F 101.49%), #FE413F;
    box-shadow: inset 0px -1px 0px #EAEAEA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around; }

#tab-1-content,
#tab-2-content {
  display: none;
  opacity: 0; }

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in; }

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px; }
  .tab__img {
    text-align: center; }
  .tab__content {
    margin: 19px 0; }
    .tab__content--sub {
      margin-bottom: 19px; }
    .tab__content__titulo {
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.15000000596046448px;
      color: #FE413F;
      margin-bottom: 19px;
      text-align: center; }
    .tab__content__txt {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      color: #555;
      text-align: center; }
    .tab__content__items {
      display: flex;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.25px;
      color: rgba(131, 131, 131, 0.9);
      margin-bottom: 20px; }
      .tab__content__items--p {
        margin-left: 12px; }
  .tab__btn__container {
    margin-bottom: 19px;
    text-align: center; }

.tab-1-content-grid,
.tab-2-content-grid {
  width: 292px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 8px 22px -6px rgba(85, 85, 85, 0.12), 0px 14px 64px -4px rgba(85, 85, 85, 0.12);
  border-radius: 20px; }

.fa-check-circle {
  color: #FE413F;
  font-size: 20px; }

.header {
  text-align: left;
  width: 100%;
  z-index: 100; }
  .header__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 25%;
    margin-top: 10px; }

.hamb {
  display: none; }
  .hamb__label {
    position: absolute;
    font-size: 20px;
    left: 2px;
    top: 5.5px;
    border-radius: 0px;
    color: #555;
    margin-left: 20px;
    display: flex;
    align-items: center; }

.menu__list {
  position: fixed;
  width: 100%;
  left: -100%;
  top: 0;
  transition: all .5s;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff; }

.menu__item {
  height: 48px;
  padding-left: 27px;
  display: flex;
  align-items: center; }
  .menu__item__img {
    height: 123px;
    display: flex;
    align-items: center;
    margin-left: 33px; }
    .menu__item__img--logo {
      height: 43px; }

.menu__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  color: #555555; }

.menu__item:hover {
  background-color: rgba(254, 65, 63, 0.31);
  transition: ease-in .1s; }

.menu__sub-list {
  display: none; }

.hamb:checked ~ .menu .menu__list {
  left: 0; }

/* Small devices y horiz entre 576px y 768px*/
.banner__cont {
  background-color: rgba(196, 196, 196, 0.2);
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.banner__texto {
  width: 254px;
  height: 293px; }
  .banner__texto__jerarquia {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.15000000596046448px;
    color: rgba(131, 131, 131, 0.8); }

.section {
  padding: 55px 0 39.5px 0;
  width: 100%; }
  .section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section__valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22px 0 0 0; }
  .section__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .section__txt__p {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      color: rgba(131, 131, 131, 0.9);
      margin: 8px 0 0 0; }
      .section__txt__p--Strong {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0px;
        color: #555555; }

.section-card {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(131, 131, 131, 0.05); }

.section-tabs {
  padding: 0 0 39.5px 0; }

.section-plan {
  padding: 55px 0 0 0; }
