.btn-rojo {
    @include btn-rojo;
    @include btn-small;

    &--large {
        width: 250px;
    }

    &--suscription {
        height: 54px;
        width: 154px;
        border-radius: 40px;
    }
}

.btn-blanco {
    @include btn-blanco;
    @include btn-small;
}

.btn-blanco-large {
    @include btn-blanco;
    @include btn-large;
}

.btn-blanco-large-tablet {
    @include btn-blanco;
    height: 38px;
    width: 266px;
    border-radius: 20px;
    @include button;

}

@media screen and (min-width: 768px) {
    .btn-rojo {
        &--large {
            width: 158px;
        }
    }

    .button-formulario-contacto {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}