.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 18px 20px 25px;
    margin-bottom: 22px;

    width: 290px;
    height: 156px;

    box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12),
        0px 8px 20px -4px rgba(85, 85, 85, 0.08);
    border-radius: 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 42px;
        margin-bottom: 15px;
    }

    &__titulo {
        @include h6-phone;

        &--min {
            letter-spacing: -0.6px;
        }
    }

    &__body {
        @include body2;

        &--comercios {
            @include body1;
        }
    }

    &__imagen {
        margin: 0 15px 0 0;

        &--img {
            width: 42px; //iconos chicos
        }
    }

    &__beneficios {
        @include h6-phone;
        text-align: center;
        // margin: 5px 0 39px 0;
    }

    &__comercios {
        @extend .card;
        justify-content: flex-start;
        padding: 25px 30px 20px;

        // position: static;
        width: 100%;
        height: auto;
        background: #FFFFFF;
        /* sombra 5 */
        // box-shadow: 0px 8px 18px -6px rgba(85, 85, 85, 0.12),
        //     0px 12px 42px -4px rgba(85, 85, 85, 0.12);
        // border-radius: 20px;

        margin: 20px 20px;

        &:hover &__img {
            opacity: 50%
        }

        &__titulo {
            @include h5-Subtitle-web;
            margin-top: 26.67px;
            height: 48px;
            width: 210px;
        }

        &__body {
            @include body1;
            margin: 20px 0 0 40px;
            width: 210px;
            height: 45px;
        }

    }
}

@media screen and (min-width: 768px) {
    .card-contenedor {
        display: none
    }

    .slides-container {
        margin: 0 auto;
        transform: translateX(180px)
    }

    .slides {
        display: flex;
        align-items: center;
        // height: 100%;
        overflow: hidden;
    }

    .item {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        padding: 30px 17px 24px 19px;
        margin: 20px 10px;
        box-shadow: 0px 4px 6px -4px rgba(85, 85, 85, 0.12),
            0px 8px 20px -4px rgba(85, 85, 85, 0.08);
        border-radius: 20px;
        width: 350px;
        height: 160px;


        &__header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

        }

        &__titulo {
            @include h5-Subtitle-web;
            margin-bottom: 15px;

            &--min {
                letter-spacing: -0.6px;
            }
        }

        &__body {
            @include body1;
            width: 231px;
            height: 67px;
        }

        &__imagen {
            &--img {
                width: 55px;
                margin-right: 20px //iconos chicos
            }
        }

        &__buttom {
            margin-top: 80px;
        }

        ;
    }
}

.active {
    opacity: 1;
}

// @media screen and (min-width: 992px) {}

// @media screen and (min-width: 1200px) {}