.carousel {
	width: 100%;
	height: 100%;

	&__contenedor {
		position: relative;
		margin: 20px 20px;
	}

	&__lista {
		display: flex;
		flex-direction: row;

		&--lg {
			display: none;
		}
	}

	&__siguiente,
	&__anterior {
		position: absolute;
		display: block;
		border: none;
		top: calc(50% - 20px);
		cursor: pointer;
		line-height: 30px;
		text-align: center;
		background: none;
		color: $rojo;

		&--chevron {
			font-size: 25px;
		}
	}

	&__anterior {
		left: -30px;
	}

	&__siguiente {
		right: -30px;
	}
}

@media screen and (min-width: 768px) {
	.carousel {
		&__lista {
			display: none;

			&--lg {
				display: flex;
				flex-flow: row wrap;
			}
		}

		&__card {
			&--lg {
				display: flex;
				flex-flow: row wrap;
				width: 650px;
			}
		}

		&__siguiente,
		&__anterior {
			top: calc(100%);

			&--chevron {
				font-size: 34px;
			}
		}

		&__anterior {
			right: -75%;
		}

		&__siguiente {
			right: 5%;
		}
	}

	.slick-initialized .slick-slide {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 992px) {
	.carousel {
		&__siguiente,
		&__anterior {
			margin-top: 40px;
		}
		&__contenedor {
			margin: 0;
		}

		&__card {
			&--lg {
				width: 550px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.carousel {
		&__anterior {
			right: -85%;
		}

		&__siguiente {
			right: 3%;
		}
	}
}
