.carousel {
	width: 100%;
	height: 100%;

	&__contenedor {
		position: relative;
		margin: 20px 20px;
	}

	&__lista {
		display: flex;
		flex-direction: row;

		&--lg {
			display: none;
		}
	}

	&__siguiente,
	&__anterior {
		position: absolute;
		display: block;
		border: none;
		top: calc(50% - 20px);
		cursor: pointer;
		line-height: 30px;
		text-align: center;
		background: none;
		color: $rojo;

		&--chevron {
			font-size: 25px;
		}
	}

	&__anterior {
		left: -30px;
	}

	&__siguiente {
		right: -30px;
	}
}

@media screen and (min-width: 768px) {
	.carousel {
		&__lista {
			display: none;

			&--lg {
				display: flex;
				flex-flow: row wrap;
			}
		}

		&__card {
			&--lg {
				display: flex;
				flex-flow: row wrap;
				width: 650px;
			}
		}

		&__siguiente,
		&__anterior {
			top: calc(100%);

			&--chevron {
				font-size: 34px;
				margin-top: 10px;
			}
		}

		&__anterior {
			right: -75%;

			&--chevron {
				background-color: $rojo;
				border-radius: 50%;
				border: 1px solid $rojo;
				color: #fff;
				opacity: 30%;
			}
		}

		&__siguiente {
			right: 5%;

			&--chevron {
				font-size: 36px; // para equiparar tamaño por border de ANTERIOR
			}
		}
	}

	.slick-initialized .slick-slide {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	.slick-dots {
		position: absolute;
		top: 100%;
		left: 12%;
		margin-top: 10px;
		display: flex;
		flex-direction: row;
	}

	.slick-dots button {
		color: #999;
		background-color: #999;
		border: none;
		border-radius: 50%;
		margin-left: 5px;
		width: 12px;
		height: 12px;
		font-size: 0;

		&:focus {
			outline: none;
		}


	}

	.slick-active button {
		border-radius: 40px;
		width: 30px;
		height: 12px;
		background-color: $rojo;
		color: $rojo;

		&:focus {
			outline: none;
		}
	}
}

@media screen and (min-width: 992px) {
	.carousel {

		&__siguiente,
		&__anterior {
			margin-top: 40px;
		}

		&__contenedor {
			margin: 0;
		}

		&__card {
			&--lg {
				width: 550px;
			}
		}
	}

	.slick-dots {
		left: 2%;
		margin-top: 40px;
	}
}

@media screen and (min-width: 1200px) {
	.carousel {
		&__anterior {
			right: -85%;
		}

		&__siguiente {
			right: 3%;
		}
	}
}