.tabs {
    @include flex-col;

    &__container {
        width: 269px;
        height: 52px;
        color: #555;
        background: #FFFFFF;
        box-shadow: 0px 6px 12px -6px rgba(85, 85, 85, 0.1),
            0px 8px 24px -4px rgba(85, 85, 85, 0.05);
        border-radius: 50px;
        margin: 11px 0 36px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        @include subtitle;
        cursor: pointer;
    }

    &__item--border {
        width: 130px;
        height: 44px;
        color: #fff;
        background: linear-gradient(220.55deg, #FFE66C -67.63%, #FE413F 101.49%),
            #FE413F;
        box-shadow: inset 0px -1px 0px #EAEAEA;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    // &__item p {
    //     margin-left: 0px;
    // }

    &__item img {
        display: none;
    }
}

#tab-1-content,
#tab-2-content {
    display: none;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;

}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;

    &__img {
        text-align: center;
    }

    &__content {
        margin: 19px 0;


        &--sub {
            margin-bottom: 19px;
        }

        &__titulo {
            @include subtitle;
            color: $rojo;
            margin-bottom: 19px;
            text-align: center;
        }

        &__txt {
            @include body1;
            color: #555;
            text-align: center;
        }

        &__items {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            @include body2;
            margin-bottom: 20px;

            &--p {
                margin-left: 12px;
            }
        }
    }

    &__btn {
        &__container {
            margin-bottom: 19px;
            text-align: center;
        }
    }
}

.fa-check-circle {
    font-size: 20px;
    margin-top: 5px;
}

.tab-1-content-grid,
.tab-2-content-grid {
    // padding: 30px 20px;
    width: 292px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 22px -6px rgba(85, 85, 85, 0.12),
        0px 14px 64px -4px rgba(85, 85, 85, 0.12);
    border-radius: 20px;

}

@media screen and (min-width: 768px) {

    .tabs {
        &__container {
            height: 80px;
            width: 537px;
        }

        &__item {
            @include h3-title-phone;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &__item--border {
            height: 73px;
            width: 264px;
            color: #fff;
        }

        &__item p {
            margin-left: 10px;
        }

        &__item--border p {
            margin-left: 0;
            margin-right: 10px;
        }

        &__item img {
            display: inline-block;
        }
    }

    .tab {
        padding: 61px 30px 39px 45px;

        &__img {
            display: none;
        }

        &__content {
            margin: 19px 0;


            &--sub {
                @include h5-Subtitle-web;
                margin-bottom: 25px;
            }

            &__titulo {
                @include h3-title-phone;
                color: $rojo;
                margin-bottom: 32px;
                text-align: center;
            }

            &__txt {
                @include web-Texto-Destacado-2;
                margin-bottom: 56px;
                width: 606px;
                color: rgba(131, 131, 131, 0.9);


            }

            &__items {


                &--p {
                    @include body1;
                    width: 525px;

                }
            }

            &--ctx {
                margin-bottom: 32px;
                padding: 0 0 0 14px;
            }


        }

        &__btn {
            display: flex;
            flex-direction: row;
            justify-content: center;


            &__container {
                margin: 0 10px;

            }
        }
    }

    .fa-check-circle {
        font-size: 20px;
    }

    .tab-1-content-grid,
    .tab-2-content-grid {
        width: 681px;
    }

}