.titulos {
    @include h3-title-phone;

    &--ppal {
        text-align: center;
        margin-bottom: 9px;
    }

    &--sub {
        @include texto-1jerarquia-phone;
        text-align: center;
    }

    &--p {
        @include body1;
        text-align: center;
        padding: 20px;
        margin-top: 11px;
    }
}