.titulos {
    @include h3-title-phone;

    &--ppal {
        text-align: center;
        margin-bottom: 9px;
    }

    &--sub {
        @include texto-1jerarquia-phone;
        text-align: center;
    }

    &--p {
        @include body1;
        text-align: center;
        padding: 20px;
        margin-top: 11px;
    }
}

.comercios {
    padding: 0 5px 0 5px;

    &--p {
        color: #555;
        padding: 0 20px 0px 20px;
        margin-top: 0;
    }
}