/* COLORS */
$rojo: #FE413F;
$rojo2:#EE3A38;

/* FONTS */
$popins: 'Poppins',
sans-serif;
$nunito: 'Nunito',
sans-serif;
/* TEXTS */
$txt: #555555;
$txt-light:rgba(131, 131, 131, 0.9);

/* BACKGROUNDS */
$bg:#fafafa;
$bg-blanco: #ffffff;
$bg-degradado: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
rgba(131, 131, 131, 0.05);

/* GRADIENTS */
$degradado:linear-gradient(90.89deg, #FE413F 28.7%, #FFE568 113.84%);
$degradado2:linear-gradient(220.55deg, #FFE66C -67.63%, #FE413F 101.49%);