.banner {
    margin-top: 53px;


    &__cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__texto {
        width: 254px;
        height: 293px;

        &__jerarquia {
            @include texto-1jerarquia-phone;

        }
    }

    &__imagen {
        height: 184px;
        width: 294px;

        &--empresa {
            width: auto;
            height: auto;
        }

        &__img {
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
}