.banner {
	margin-top: 53px;

	&__cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__texto {
		width: 254px;
		height: 293px;

		&__jerarquia {
			@include texto-1jerarquia-phone;
			color: #555555;
			text-align: center;
		}
	}


	&__empresas {
		display: flex;
		flex-flow: column wrap;
		align-items: center;

		&--icono {
			margin: 0 0 24px;
		}

		&__titulos {

			&--sub {
				width: 267px;
				height: auto;
				@include texto-1jerarquia-phone;
				text-align: center;
				margin: 46px 0;
				padding: 0;

			}
		}

		&__imagen {

			&__img {
				width: 100%;
				object-fit: cover;
				display: block;
			}
		}
	}

	&__imagen {

		&__img {
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
}

@media screen and (min-width: 768px) {
	.banner {
		margin-top: 68px;

		&__texto {
			height: auto;
			width: 522px;
			text-align: center;

			&__jerarquia {
				width: 100%;
				font-size: 22px;
				line-height: 34px;
			}
		}

		&__empresas {
			&__imagen {
				height: auto;
				width: 616.1778564453125px;
			}

			&__titulos {

				&--sub {
					width: 100%;
					font-size: 22px;
					line-height: 34px;

				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.banner {

		&__cont {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			width: auto;
		}

		&__texto {
			&__jerarquia {
				width: 522px;
				font-size: 26px;
				line-height: 38px;
				text-align: left;
			}
		}

		&__empresas {

			&__titulos {
				&--sub {
					width: 552px;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.banner {
		&__imagen {
			&__img {
				width: 693px;
			}
		}

		&__empresas {
			flex-flow: row wrap;
			align-items: center;
			width: 100%;


			&__imagen {
				order: 3;

			}

			&__titulos {
				&--sub {
					text-align: left;
				}
			}

			&--icono {
				margin: 0 10px 0 0;
			}
		}
	}
}