.header {
	text-align: left;
	width: 100%;
	z-index: 100;

	&__contenedor {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&--img {
			width: 25%;
			margin-top: 10px;
		}
	}
}

.hamb {

	position: absolute;
	font-size: 20px;
	left: 2px;
	top: 5.5px;
	border-radius: 0px;
	color: #555;
	margin-left: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;

}


.menu {
	&__close {
		color: #777;
		position: absolute;
		right: 20px;
		top: 45px;
		cursor: pointer;
	}

	&__list {
		position: fixed;
		width: 100%;
		left: -100%;
		top: 0;
		transition: all 0.5s;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		z-index: 10000;
	}

	&__item {
		height: 48px;
		padding-left: 27px;
		display: flex;
		flex-direction: row;
		align-items: center;

		&__img {
			height: 123px;
			display: flex;
			align-items: center;
			margin-left: 33px;

			&--logo {
				height: 43px;
			}
		}

		&:active {
			background-color: rgba(254, 65, 63, 0.31);
		}

		&--btn {
			display: none;
		}
	}

	&__link {
		text-decoration: none;
		@include h6-phone;
		width: 100%;
	}

	&__footer {
		display: none;
	}
}

.open {
	left: 0
}

.close {
	left: -100%
}





@media screen and (min-width: 992px) {
	.header {
		padding-top: 70px;

		&__logo {
			&--img {
				height: 82px;
				width: 145px;
				left: 169px;
				top: 69px;
			}
		}
	}

	.hamb,
	.menu__close {
		display: none;
	}

	.menu {
		width: 100%;

		&__list {
			position: static;
			left: 0;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__item {
			padding-left: 0px;

			&__img {
				display: none;
			}

			&:hover {
				background-color: #fff;
			}

			&--nosotros {
				display: none;
			}

			&--btn {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
			}
		}

		&__link {
			&:hover {
				color: $rojo;
			}
		}


	}
}

@media screen and (min-width: 1200px) {
	.menu {
		&__item {
			padding-left: 27px;
		}

		&__footer {
			display: block;
			display: flex;
			flex-direction: column;
			align-items: center;


			&__list {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
			}


			&__item {
				padding: 0 0 24px;
				display: flex;
				flex-direction: column;
				justify-content: center;

			}

			&__link {
				text-decoration: none;
				@include h6-phone;
				width: 100%;
				color: #fff;
			}
		}
	}

}