.section {
	padding: 55px 0 39.5px 0;
	width: 100%;
	// border-radius: 100px; //Puede no ir

	&__container {
		@include flex-col;
	}

	&__valores {
		@include flex-col;
		margin: 22px 0 0 0;
	}

	&__txt {
		@include flex-col;
		text-align: center;

		&__p {
			@include body1;
			margin: 8px 0 0 0;

			&--Strong {
				@include h6-phone;
			}
		}
	}

	&-planes {
		padding: 21px 0 0;
	}

	&-card {
		background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
			rgba(131, 131, 131, 0.03);
		border-radius: 60px;
		padding: 55px 0 5px;
		margin-bottom: 39.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-tabs {
		padding: 0 0 0 0;
	}

	&-plan {
		padding: 0 0 0 0;
	}

	&-comercios {
		padding: 57px 0 0 0;
	}

	&-clientes {
		padding: 27px 0 0 0;
	}

	&-contacto {
		@include flex-col;
	}
}

#circle {
	display: none;
}

@media screen and (min-width: 768px) {
	#circle {
		display: inline-block;
	}

	.section {
		&-card {
			padding: 107px 0 39.5px 0;
			// text-align: center;
		}

		&-nosotros {
			padding: 113px 0 39.5px 0;
		}

		&-comercios {
			margin-bottom: 90px;
		}

		&__canvas {
			position: relative;
			// width: 97%;
		}

		&__abs {
			position: absolute;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 220px);
			grid-template-areas:
				"zona1 zona2 zona3"
				"zona4 zona5 zona6";
			transform: translate(-15px, -305px);
		}

		&__valores {
			margin: 6.5px 0 0 0;

			&--2 {
				grid-area: zona2;
				// padding: 10px 0 0 0;
			}

			&--4 {
				grid-area: zona4;
				@include flex-col;
				justify-content: flex-start;
			}

			&--6 {
				grid-area: zona6;
				@include flex-col;
				justify-content: flex-start;
			}
		}

		&__txt {
			padding: 0 5px;

			&__p {
				@include body1;
				margin: 8px 0 0 0;

				&--Strong {
					@include h5-Subtitle-web;
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.section {
		&__valores {
			&--imagen img {
				width: 82px;
				height: 82px;
			}

			&--2 {
				transform: translateY(-56%);
				@include flex-col;
			}

			&--4 {
				transform: translateY(-16%);
			}

			&--6 {
				transform: translateY(-15%);
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.section {
		&__container {
			&--active {
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		&__valores {
			&--imagen img {
				width: 82px;
				height: 82px;
			}

			&--2 {
				transform: translateY(-90%);
			}

			&--4 {
				transform: translateY(-26%);
			}

			&--6 {
				transform: translateY(-25%);
			}
		}

		&-card {
			margin-bottom: 80px;
		}

		&-comercios {
			margin-top: 93px;
		}

		&-clientes {
			transform: translateY(20%);
		}

		&-contacto {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			width: 922px;
			margin-top: 150px;
			margin-bottom: 102px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.section {
		&-planes {
			margin-top: 100px;
		}
		&-contacto--empresas {
			margin-top: 150px;
		}
	}
}
