.section {
    padding: 55px 0 39.5px 0;
    width: 100%;
    // border-radius: 100px; //Puede no ir

    &__container {
        @include flex-col;
    }

    &__valores {
        @include flex-col;
        margin: 22px 0 0 0;
    }

    &__txt {
        @include flex-col;
        text-align: center;

        &__p {
            @include body1;
            margin: 8px 0 0 0;

            &--Strong {
                @include h6-phone;
            }
        }
    }

    &-planes {
        padding: 55px 0 0;
        ;
    }

}

.section-card {
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
        rgba(131, 131, 131, 0.030);
    border-radius: 60px;
    padding: 55px 0 5px;
    margin-bottom: 39.5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-tabs {
    padding: 0 0 0 0;
}


.section-plan {
    padding: 0 0 0 0;
}

.section-comercios {
    padding: 57px 0 0 0;
}

.section-clientes {
    padding: 27px 0 0 0;
}

.section-contacto {
    @include flex-col;
}

#circle {
    display: none;
}

@media screen and (min-width: 768px) {
    #circle {
        display: inline-block;

    }

    .section {
        &-card {
            padding: 150px 0 39.5px 0;
            // text-align: center;
        }

        &-nosotros {
            padding: 113px 0 39.5px 0;
        }

        &__canvas {
            position: relative;
            width: 100%;
        }

        &__abs {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 220px);
            grid-template-areas:
                "zona1 zona2 zona3"
                "zona4 zona5 zona6";
            transform: translate(-15px, -307px);
        }

        &__valores {
            margin: 6.5px 0 0 0;

            &--2 {
                grid-area: zona2;
                // padding: 10px 0 0 0;
            }

            &--4 {
                grid-area: zona4;
                @include flex-col;
                justify-content: flex-start;

            }

            &--6 {
                grid-area: zona6;
                @include flex-col;
                justify-content: flex-start;
            }

        }

        &__txt {
            padding: 0 5px;

            &__p {
                @include body1;
                margin: 8px 0 0 0;

                &--Strong {
                    @include h5-Subtitle-web;
                }
            }
        }
    }


}